[submodule "reference/usbutils"]
	path = reference/usbutils
	url = https://github.com/NichtsHsu/usbutils.git
[submodule "reference/qhexedit2"]
	path = reference/qhexedit2
	url = https://github.com/NichtsHsu/qhexedit2.git
[submodule "assets/themes"]
	path = assets/themes
	url = https://github.com/NichtsHsu/QSS.git
